input[type=checkbox].toggle-switch {
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  width: 3em;
  height: 1.5em;
  border-radius: 3em;
  background-color: #ddd;
  outline: 0;
  cursor: pointer;
  transition: background-color 0.09s ease-in-out;
  position: relative;
  display: inline-block
}

input[type=checkbox].toggle-switch:checked {
  background-color: #4CAF50;
}

input[type=checkbox].toggle-switch::after {
  content: '';
  width: 1.5em;
  height: 1.5em;
  background-color: white;
  border-radius: 3em;
  position: absolute;
  transform: scale(0.7); /* (가로,세로) */
  left: 0;
  transition: left 0.09s ease-in-out; /* 속도 조절 */
  box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
}

input[type=checkbox].toggle-switch:checked::after {
  left: 1.5em;
}